<%- include("partials/header.ejs") %>

    <main>
      <!-- Home page content -->
      <section id="hero">
        <!-- <video  class="video-slider" autoplay muted loop src="./images/v2.mp4"></video> -->
        <div class="content">       
       <h1>Simplify Learning with Summarized Videos</h1>
       <div class="demo">
         <a href="/Summarize-video" class="action-btn" style="background-color:#2ccffe78; background-image: none;">Get A Demo 
          <i class='bx bx-right-arrow-circle itag'></i>
        </a>
        </div>
      </div>
      </section>
    </main>
<%- include("partials/footer.ejs") %>


